# Terraform
*.tfstate
*.tfstate.*
*.plan
*plan
*.tfvars
*.tfvars.json
.terraform/
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*backend.tf
# Python (backend)
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
.envrc

# Node/Frontend
node_modules/
dist/
build/

# Docker
*.log
docker-compose.override.yml

# Helm
values-*.yaml  # in case you make env-specific overrides

# IDE/editor
.vscode/
.idea/
*.swp
.DS_Store
